@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
  
  /* ---------- */
  /* --STYLES-- */
  /* ---------- */

  /* ---------- */
  /* CONTAINERS */
  /* ---------- */

  /* Base container */
  .baseContainer{
    padding-top: 60px;
    display: flex;
    height: 100vh;
    overflow-y: hidden;
  }

  .left {
    background-color: rgb(255, 113, 113);
    align-items: center;
    height: 100%;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    display: flex;
  }
  .right{
    background-color: rgb(201, 255, 255);
    align-items: center;
    height: 100%;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    display: flex;
  }

  /* ----------- */
  /* TEXT STYLES */
  /* ----------- */

  /* Base text style */
  .baseText {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: opacity 0.5s ease;
    text-align: center;
  }

  /* Title text style */
  .titleText {
    font-family: Raleway;
    font-weight: bold;
    font-size: 2.5em;
    color: rgb(0, 0, 0);
    text-shadow: 0 10px 40px rgba(255, 255, 255, 0.5);
  }

  /* Description text style */
  .descText {
    font-family: Raleway;
    font-weight: bold;
    font-size: 1em;
    color: rgb(0, 0, 0);
    text-shadow: 0 10px 40px rgba(255, 255, 255, 0.5);
  }

  /* ------------------ */
  /* LINK CUSTOMIZATION */
  /* ------------------ */
  .linkStyle{
    text-decoration: none;
    color: inherit;
  }
  
  .linkStyle:hover{
    cursor: pointer;
    text-decoration: underline;
  }